.navbar{
    background-color: #ffffff;
    height: 90px;
    border-bottom: 2px solid lightgrey;
    width: 100%;
  
   

}
#your_name{
    font-weight: bold;
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 30px;
    margin-left: 15%;
}
#contact{
    color: lightgray;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 35px 0px 0px 25px;
}
#portfolio{
    color: lightgray;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 35px 20px 0px 25px;
}
#about{
    color: lightgray;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 35px 20px 0px 25px;
}
#body{
    background-image: url(../images/background.jpg);
    z-index: -1;
}
.nav-links {
    float: right;
    margin-right: 13%;
    padding: 30px;
}
#box {
    background: #ffffff;
    color: black;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;  
    box-sizing: border-box;
    padding: 30px;
    z-index: 1;
}
#about-me{
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    color: #4aaaa5;
    border-bottom: 2px solid lightgray;
    padding-bottom: 20px;
}
#image{
    padding: 0px 20px 20px 0px;
    float: left;
}
p {
padding: 20px;
line-height: 150%;
color: #777777;
}
#footer {
    background-color: #666666;
    height: 60px;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    color: lightgray;
    font-size: 70%;
    display: flex;
  justify-content: center;
  align-items: flex-end;
}